autofs.schema
calendar.schema
cron.schema
db-4.6.21.tar.gz
DB_CONFIG
dhcp.schema
dns.schema
dnszone.schema
evolutionperson.schema
gencert.sh
kerberosobject.schema
kolab.schema
krb5-kdc.schema
ldap-common
ldap.conf
ldap-hot-db-backup
ldap.init
ldap.logrotate
ldapns.schema
ldap-reinitialise-slave
migrate_automount.pl
MigrationTools-45.tar.bz2
migration-tools.txt
mull.schema
netscape-profile.schema
openldap-2.4.7.tgz
openldap-2.4-admin-guide-add-vendor-doc.patch
openldap-guide-2.4.tar.bz2
openldap.sysconfig
qmailControl.schema
qmail.schema
README-openldap2.4.mdv
rfc822-MailMember.schema
samba.schema
slapd.access.conf
slapd.conf
sudo.schema
trust.schema
vendor.sdf
vendor-standalone.sdf
